<div class="container">
  {{#each values as |value|}}
    <dl>
      <dt>
        {{value.label}}
      </dt>
      <dd>
        {{#if value.href}}
          <a href="{{value.href}}" target="_blank">
            {{value.value}}
          </a>
        {{else}}
          {{value.value}}
        {{/if}}
      </dd>
    </dl>
  {{/each}}
</div>