<div class="container">
  {{!-- <table class="layer0">
    <tbody>
      <tr>
        <th>LAYER0</th>
      </tr>
      {{#each layer0 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table> --}}
<table class="layer0">
    <tbody>
      <tr>
        <th>LAYER0</th>
        <th>LAYER1</th>
        <th>LAYER2</th>
        <th>LAYER3</th>
        <th>LAYER4</th>
        <th>LAYER5</th>
      </tr>
      {{#each layer0 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
      {{#each layer1 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
      {{#each layer2 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
      {{#each layer3 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
      {{#each layer3 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
      {{#each layer4 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
      {{#each layer5 as |value|}}
        <tr class="node" data-id={{value.id}}>
          <td>{{value.name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>