<h1 id="manhattan-title">
  {{title}}
</h1>
<h2>
  GWAS Study View
</h2>

<section class="info-section">
  <dl class="datainfo-list">
    <dt id="study-name">study name</dt>
    <dd>{{study_name}}</dd>
    <dt id="project-name">study name</dt>
    <dd>{{project_name}}</dd>
    <dt id="stage-name">stage name</dt>
    {{!-- <dd>{{stage_name}}</dd> --}}
    <dd>
      <ul>
        <li>
          <input type="checkbox" id="discovery" class="stage-btn" name="stage" value="discovery" data-stage="0">
          <label class ="stage-label" for="discovery">Discovery</label>
        </li>
        <li>
          <input type="checkbox" id="replication" class="stage-btn" name="stage" value="replication" data-stage="1">
          <label class ="stage-label" for="replication">Replication</label>
        </li>
        <li>
          <input type="checkbox" id="combined" class="stage-btn" name="stage" value="combined" data-stage="2">
          <label class ="stage-label" for="combined">Combined</label>
        </li>
        <li>
          <input type="checkbox" id="meta-analysis" class="stage-btn" name="stage" value="meta-analysis" data-stage="3">
          <label class ="stage-label" for="meta-analysis">Meta-analysis</label>
        </li>
      </ul>
      <button id="selectAllBtn" class="allBtn" type="button" name="all">Select All</button>
      <button id="clearAllBtn" class="allBtn" type="button" name="all">Clear All</button>
    </dd>
  </dl>
  <ul class="condition-list">
    <li id="condition1">
      <span>condition1:</span>&ensp;{{condition1}}
    </li>
    <li id="condition2">
      <span>condition2:</span>&ensp;{{condition2}}
    </li>
  </ul>
    {{!-- <dl class="condition-list">
    <dt id="condition1">condition1:</dt>
    <dd>{{condition1}}</dd>
    <dt id="condition2">condition1:</dt>
    <dd>{{condition2}}</dd>
  </dl> --}}
</section>

{{!-- <section class="condition-section">
  <ul class="condition-list">
    <li id="condition1">
      condition1: {{condition1}}
    </li>
    <li id="condition2">
      condition2: {{condition2}}
    </li>
  </ul>
</section> --}}

<section class="chart-section">
  <div id="chart"></div>
  <div id="control"></div>
</section>

<section class="table-section">
  <h2>
    Top Loci
  </h2>
  <div id="table"></div>
</section>