<h1 id="manhattan-title">
  GWAS Study View
</h1>
<h2>
  {{title}}
</h2>

<section class="info-section">
  <dl class="datainfo-list">
    <dt id="study-name">
      study name
    </dt>
    <dd>
      {{study_name}}
    </dd>
    <dt id="project-name">
      project name
    </dt>
    <dd>
      {{project_name}}
    </dd>
    <dt id="stage-name">
      stage name
    </dt>
    <dd>
      <ul id="stageList">
      </ul>
      {{!-- <button id="selectAllBtn" class="allBtn" type="button" name="all">
        Select All
      </button>
      <button id="clearAllBtn" class="allBtn" type="button" name="all">
        Clear All
      </button> --}}
    </dd>
    <dt>
      threshold
    </dt>
    <dd>
      <input id="threshold" type="text" value="8" />
    </dd>
  </dl>
  <ul class="condition-list">
    <li id="condition1">
      <span>
        condition1:
      </span>
      &ensp;{{condition1}}
    </li>
    <li id="condition2">
      <span>
        condition2:
      </span>
      &ensp;{{condition2}}
    </li>
  </ul>
</section>

<section class="chart-section">
  <div id="chart"></div>
  <div id="control"></div>
</section>

<section class="table-section">
  <h2>
    Top Loci
  </h2>
  <div id="table"></div>
</section>