<h1 id="manhattan-title">{{title}}</h1>
<h2 id="study-name">study name: {{study_name}}</h2>
<h3 id="project-name">project name: {{project_name}}</h3>
<h3 id="stage-name">stage name: {{stage_name}}</h3>

<p id="condition1">condition1: {{condition1}}</p>
<p id="condition2">condition2: {{condition2}}</p>

<div id="chart"></div>
<div id="control"></div>

<div id="table"></div>