<h1 id="manhattan-title">
  {{title}}
</h1>
<h2>
  Manhattan plot
</h2>

<section class="info-section">
  <ul class="datainfo-list">
    <li id="study-name">
      study name: {{study_name}}
    </li>
    <li id="project-name">
      project name: {{project_name}}
    </li>
    <li id="stage-name">
      stage name: {{stage_name}}
    </li>
  </ul>
</section>

<section class="condition-section">
  <ul class="condition-list">
    <li id="condition1">
      condition1: {{condition1}}
    </li>
    <li id="condition2">
      condition2: {{condition2}}
    </li>
  </ul>
</section>

<section class="chart-section">
  <div id="chart"></div>
  <div id="control"></div>
</section>

<section class="table-section">
  <h2>
    Top Loci
  </h2>
  <div id="table"></div>
</section>