<table>
  <thead>
    <tr>
      <th>
        Gene name
      </th>
      <th>
        rsId
      </th>
      <th>
        Chromosome
      </th>
      <th>
        position
      </th>
      <th>
        Ref
      </th>
      <th>
        Alt
      </th>
      <th>
        P-value
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each arrays as |array|}}
      <tr>
        <td>
          <a
            href="https://mgend.med.kyoto-u.ac.jp/gene/info/{{
              array.rsId
            }}#locuszoom-link"
          >
            {{array.gene_name}}
          </a>
        </td>
        <td>
          {{array.rsId}}
        </td>
        <td>
          {{array.chr}}
        </td>
        <td>
          {{array.stop}}
        </td>
        <td>
          {{array.ref}}
        </td>
        <td>
          {{array.alt}}
        </td>
        <td>
          {{array.p-value}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>